
.container {
    margin: 0 auto;
    display: flex;
    width: 660px;
    height: 660px;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square{
    margin: 3px;
    border: 4px  #cdcdcd;
    border-radius: 5px ;
    background: #e8fbe8;
    width: 60px;
    height: 60px;
}




