h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(55, 55, 55);
  text-transform: uppercase;
  margin-top: 10px;
  font-size: x-large;
}
h2{
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  color: rgb(55, 55, 55);
  text-transform: uppercase;
  margin-top: 10px;
}
.container {
  background-color: rgba(256, 256, 256, 0.5);
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 20px;
  min-width: 200px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}

body {
  background-image: url("background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.score {
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 350px;
  min-width: 200px;
  max-height: 30px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.table {
  display: flex;
  align-self: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square {
  margin: 3px;
  border: 4px #cdcdcd;
  border-radius: 5px;
  width: 65px;
  height: 65px;
}

.square:hover {
  cursor: grab;
}

.endGame {
  margin-top: 200px;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  max-block-size: 60px;
}

.chooseContainer {
  background-color: rgba(77, 137, 124, 1);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  min-width: 500px;
  min-height: 550px;
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.img{
  max-width: 350px;
}
p{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
}
button{
  background-color: rgba(98,171,155,1) ;
  border-radius: 5px;
  min-width: 300px;
  min-height: 65px;
  font-size: xx-large;
  color: rgb(6,77,64);
  font-family: "Montserrat", sans-serif;
}
input{
  background-color: rgba(98,171,155,1) ;
  border-radius: 5px;
  max-width: 300px;
  min-height: 50px;
  text-align: center;
  font-size: xx-large;
  color: rgb(6,77,64);
  font-family: "Montserrat", sans-serif;
}

#highScoresList{
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score{
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  color: black;
}

.scoreContainer {
  background-color: rgba(256, 256, 256, 0.5);
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  min-width: 190px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}

.nomoremoves {
  text-align: center;
  padding: 1em;
  border: 0.5em solid black;
  width: 4em;
  height: 4em;
  border-radius: 100%;
}
.timeAndMoves{
  background-color: rgba(256, 256, 256, 0.5);
  border-radius: 10px;
  margin-bottom: 30px;
  width: 300px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}